/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* hover color */
  --main-color: #2d529f;
  --secondary-hover-Color: #47c423;
  --hover-button: #242424;
  /* background */
  --main-section-background: #f4f4f4;
  --second-section-background: #34383d;
  /* text color */
  --white-color-text: #fff;
  --black-color-text: #1d2127;
  --blue-color-text: #008fe2;
  --second-text: #777;
  /* transition */
  --main-transition: 0.5s;
}

body {
  color: #777;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  position: relative;

  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.sticky {
  position: fixed;
  z-index: 99;
  background-color: #1a3350;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* End Global Rules */

.page_header {
  background-color: #171717;
  border-bottom: 5px solid #ccc;
  border-top: 5px solid #384045;
  margin: 0 0 35px 0;
  min-height: 50px;
  padding: 20px 0;
  position: relative;
  text-align: left;
}
.page_header .breadcrumb {
  display: flex;
  column-gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}
.page_header .breadcrumb > li {
  font-size: 0.85em;
  text-transform: uppercase;
}
.page_header .breadcrumb li:first-child a {
  color: #008fe2;
}
.page_header .breadcrumb i,
.page_header .breadcrumb .active a {
  color: #ccc;
}

/* ===Start Page_content=== */

/* Start Header */

/* start top header */

header .header_top_content {
  background-color: var(--main-section-background);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .header_top_content .header_info ul,
.header_social ul {
  display: flex;
  align-items: center;
  color: var(--second-text);
  font-weight: 600;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header_top_content .header_info ul a,
.header_social ul a {
  color: var(--second-text);
}
header .header_top_content .header_info ul {
  column-gap: 20px;
  font-weight: 100 !important;
}
header .header_top_content .header_info ul span {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 12px;
}
.header_social ul {
  gap: 30px;
}
@media (max-width: 600px) {
  .header_social {
    display: none;
  }
}
@media (max-width: 400px) {
  .header_info ul {
    padding-left: 50px;
  }
}
/* start main heder */
header .header_navbar {
  width: 100%;
  transition: all 0.3s ease-out 0s;
}

header .header_navbar .navbar {
  padding: 15px 0;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}
header .header_navbar .navbar a img {
  height: 50px;
  object-fit: cover;
}
header .header_navbar .navbar {
  display: flex;
  align-items: center;
}
header .header_navbar .navbar nav {
  margin-left: 80px;
}
header .header_navbar .navbar .main_navbar {
  display: flex;
  column-gap: 23px;
  align-items: center;
}
.navbar .main_navbar .dropdown .dropdown_item {
  position: relative;
}

header .header_navbar .navbar .main_navbar .dropdown:hover .submenu,
header .header_navbar .navbar .main_navbar .dropdown:hover .submenu_tow,
header .header_navbar .navbar .main_navbar .dropdown:hover .submenu_three {
  display: block;
}
.main_navbar .dropdown .submenu {
  display: none;
  position: absolute;
  top: 64px;
  background-color: var(--blue-color-text);
  min-width: 200px;
  text-align: left;
  padding: 5px;
  z-index: 100;
  left: 244px;
}
.main_navbar .dropdown .submenu_tow {
  display: none;
  position: absolute;
  top: 64px;
  background-color: var(--blue-color-text);
  min-width: 200px;
  text-align: left;
  padding: 5px;
  z-index: 100;
  left: 319px;
}
.main_navbar .dropdown .submenu_three {
  display: none;
  position: absolute;
  top: 64px;
  background-color: var(--blue-color-text);
  min-width: 200px;
  text-align: left;
  padding: 5px;
  z-index: 100;
  left: 471px;
}
/* ======sub ======= */
.submenu_three_li {
  display: flex;
  gap: 30px;
}
.hover_dev:hover + .hover_non {
  display: block !important;
}
.hover_non {
  display: none !important;
}
.hover_non:hover {
  display: block !important;
}

/* =======sub====== */
.main_navbar > .hover_bg:hover {
  padding: 10px 0;
  background-color: var(--blue-color-text);
}
.main_navbar .dropdown .submenu li a,
.main_navbar .dropdown .submenu_tow li a,
.main_navbar .dropdown .submenu_three li a {
  display: inline-block;
  padding: 10px 0;
}
header .header_navbar .navbar .main_navbar .dropdown .dropdown_item {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 600;
}
header .header_navbar .navbar .main_navbar .dropdown .dropdown_item.active {
  color: var(--secondary-hover-Color);
}
/* End Header */
/* start slider */
.header_slider,
.single_slider_img {
  position: relative;
}
.single_slider .swiper-wrapper .single_slider_img {
  height: 500px;
  position: relative;
}

.single_slider .swiper-wrapper .single_slider_img img {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.single_slider .slide_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  color: #fff;
  margin-left: 57px;
}
.single_slider .slide_content h1 {
  font-weight: bold;
  margin-top: 145px;
  font-size: 40px;
}
.single_slider .swiper-wrapper .slide_content h3 {
  font-size: 30px;
}
.single_slider .swiper-wrapper .slide_content p {
  border-bottom: 1px solid #ccc;
  width: fit-content;
}
/* start ini */
.slider .single_slider_img :where(h1, h3, p) {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.75s, opacity 0.75s, visibility 0.75s;
}
.slider .swiper-slide-active :where(h1, h3, p) {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.slider .swiper-slide-active > h1 {
  transition-delay: 0.5s;
}
.slider .swiper-slide-active > h3 {
  transition-delay: 0.6s;
}
.slider .swiper-slide-active > p {
  transition-delay: 0.75s;
}
/* end ini */

/* ============= Start About============ */
.about_section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}
.about_section .about_section_right {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding-right: 15px;
  padding-left: 15px;
}
.about_section .about_section_right h1 {
  font-weight: 600;
  color: var(--black-color-text);
  font-size: 2.2em;
  letter-spacing: -1px;
  line-height: 42px;
}
.about_section .about_section_right p {
  color: var(--second-text);
  font-size: 14px;
  font-weight: 400;
  text-align: justify !important;
  line-height: 24px;
  margin: 0 0 20px;
}
.about_section .about_section_right a {
  border-radius: 30px;
  padding: 10px 30px;
  color: var(--black-color-text);
  border-width: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: 2px solid var(--black-color-text);
  line-height: 1.5;
  outline: none;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.about_section .about_section_right a:hover {
  color: #ffffff;
  background-color: #242424;
  border-color: #242424;
}
.about_section .about_section_lift {
  max-width: 33.33%;
}
.about_section .about_section_lift img {
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
  max-width: 100%;
  height: auto;
}
/* ============ End about ============= */
/* ============ Start about ============= */
.feature_section {
  background-color: var(--main-section-background);
  margin: 30px 0;
  padding: 50px 0;
}
.feature_section .feature_section_title {
  padding-top: 1rem !important;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.feature_section .feature_section_title h2,
.info_categories h2 {
  font-weight: 600;
  font-size: 2.2em;
  line-height: 42px;
  margin: 0 0 32px 0;
  color: var(--black-color-text);
  letter-spacing: -1px;
  text-align: left;
}
.feature_section .feature_section_title hr {
  background-image: linear-gradient(to left, transparent, #dbdbdb, transparent);
  border: 0;
  height: 1px;
  margin: 22px 0;
  position: absolute;
  width: calc(100% - 50px);
  margin-top: 60px;
}
.feature_section .boxs {
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.feature_section .boxs .box_item {
  flex: 0 0 50%;
  display: flex;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.feature_section .boxs .box_item .feature-box-icon i {
  font-size: 30px;
  font-weight: 600;
  color: var(--blue-color-text);
}
.feature_section .boxs .box_item .feature-box-info {
  flex: 1 1 100%;
  padding-left: 15px;
}
.feature_section .boxs .box_item .feature-box-info h4 {
  color: var(--blue-color-text);
  font-weight: 600;
  font-size: 1.4em;
  line-height: 27px;
  margin: 0 0 14px 0;
  letter-spacing: normal;
}
.feature_section .boxs .box_item .feature-box-info p {
  text-align: justify;
  color: var(--second-text);
  line-height: 24px;
  margin: 0 0 20px;
  font-size: 14px;
}
/* ============ End about ============= */
/* ============ Start info categories ============= */
.info_categories {
  margin-top: 30px;
}
.info_categories > h1 {
  font-weight: 600;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 32px 0;
  color: var(--black-color-text);
  letter-spacing: -1px;
  text-align: left;
}
.info_categories .catg_items {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.info_categories .catg_items .catg_item_box {
  display: flex;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.info_categories .catg_items .catg_item_box a {
  display: block;
  position: relative;
  text-decoration: none;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
.info_categories .catg_items .catg_item_box a .thumb_wrapper {
  margin: 4px 4px 3px 4px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  border-radius: 4px;
  margin: 4px;
  overflow: hidden;
  display: block;
  position: relative;
}
.info_categories .catg_items .catg_item_box a .thumb_wrapper img {
  transition: all 0.3s ease;
  border-radius: 3px;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.info_categories .catg_items .catg_item_box a .thumb_wrapper .thumb_title {
  font-size: 28px;
  padding: 10px;
  color: #fff;
  background-color: #008fe2;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0;
  margin: 8px -2px -15px -2px;
  text-transform: none;
  position: absolute;
  z-index: 10;
  text-align: center;
  right: 69px;
  top: 136px;
}
/* ============ End info_categories ============= */
/* ============ Start info_categories ============= */
.partners {
  margin-bottom: 20px;
}
.partners .partners_top {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
.partners .partners_top div {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.partners .partners_top h2 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 2.2em;
  line-height: 42px;
  margin: 0 0 32px 0;
  color: var(--black-color-text);
  letter-spacing: -1px;
}
.partners .partners_top p {
  font-weight: 400;
  color: var(--second-text);
  line-height: 24px;
  margin: 0 0 20px;
}
.partners .partners_imgs {
  display: flex;
  flex-wrap: wrap;
}
.partners .partners_imgs img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  overflow: hidden;
}
.partners .container div {
  text-align: center;
}
.partners .container div a {
  border-radius: 30px;
  padding: 10px 30px;
  color: var(--black-color-text);
  border-width: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  display: inline-block;
  border: 2px solid var(--black-color-text);
  line-height: 1.5;
}

/* ============ End info_categories ============= */
/* ============ Start Footer ============= */

footer {
  background-color: var(--second-section-background);
  padding: 70px 0 0;
  position: relative;
  font-size: 0.9em;
  color: #95989c;
}
.footer_item {
  display: flex;
  flex-wrap: wrap;
}
.footer_item > div {
  margin-bottom: 25px;
  padding: 0 10px;
}
.footer_item_box {
  flex: 0 0 50%;
  max-width: 50%;
}
.footer_item_box_tow {
  flex: 0 0 25%;
  max-width: 25%;
}
.footer_item_box h4,
.footer_item_box_tow h4 {
  font-size: 1.8em;
  font-weight: 200;
  margin-bottom: 1.5rem;
  color: var(--white-color-text);
}
.footer_item_box p,
.footer_item_box_tow p {
  color: var(--second-text);
  text-align: justify;
  line-height: 24px;
}
.footer_copyright {
  background: #34383d;
  border-top: 1px solid #53585e;
  margin-top: 40px;
  padding: 30px 0 10px;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}
.footer_copyright p,
.footer_copyright p a {
  text-align: center;
  color: #95989c;
}
/* ============ End footer ============= */

/* ============start Contact=========== */

.page_content_contact {
  display: flex;
  flex-wrap: wrap;
}
.page_content_contact .page_content_contact_right {
  flex: 0 0 50%;
  max-width: 50%;
}

.page_content_contact_right h2,
.page_content_contact_lift h2 {
  font-weight: 600;
  line-height: 40px;
  font-size: 2.2em;
  margin: 0 0 32px 0;
  color: #1d2127;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.page_content_contact_right h4 {
  color: #008fe2;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px 0;
}
.page_content_contact_right hr {
  background-image: linear-gradient(to left, transparent, #dbdbdb, transparent);
  border: 0;
  height: 1px;
  margin: 22px 0;
}
.page_content_contact_right ul {
  margin-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
  margin-right: 80px;
}
.page_content_contact_right ul li {
  padding-top: 5px;
  padding-left: 36px;
  position: relative;
  padding-bottom: 18px;
}
.page_content_contact_right ul li i {
  background-color: #008fe2;
  color: #fff;
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 18px;
  line-height: 1.3;
  position: absolute;
  left: 0;
  text-align: center;
  width: 25px;
  height: 25px;
}
.page_content_contact_right ul li a {
  color: #008fe2;
}

/* left */
.page_content_contact .page_content_contact_lift {
  flex: 0 0 50%;
  max-width: 50%;
}
.page_content_contact_lift form .form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.page_content_contact_lift form .form-row .form-group {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
.page_content_contact_lift form .form-row .form-group_col {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 1rem;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
}
.page_content_contact_lift form .form-row label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.page_content_contact_lift form .form-row .btn {
  cursor: pointer;
  font-size: 16px;
  background-color: #008fe2;
  border-color: #008fe2 #008fe2 #006faf;
  color: #ffffff;
  line-height: 1.334;
  float: right;
  border: 1px solid transparent;
  padding: 8px 16px;
}
.page_content_contact_lift form .form-row .btn:hover {
  background-color: #09a5ff;
  border-color: #16a9ff #16a9ff #008fe2;
  color: #ffffff;
}
form .form-row input.form-control,
.form-row textarea.form-control {
  font-size: 0.85rem;
  line-height: 1.85;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form .form-row input.form-control:focus,
.form-row textarea.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-color: #ccc;
  color: #495057;
  background-color: #fff;
  outline: none;
}
/*  */
.google_map iframe {
  position: relative;
  overflow: hidden;
  background: #e5e3df;
  height: 400px;
  width: 100%;
}
/*  */
/* new heder */
/* 
nav {
  width: 100%;
  height: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
nav .navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #2d529f !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  padding: 0.5rem 0.9rem;
  text-transform: uppercase;
}
nav .navbar .links li a:hover {
  background: #2d529f;
  color: #ffffff;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #3e8da8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3e8da8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3e8da8;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3e8da8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #a83e3e;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
} */

/* start custom css logo */
/* .logo {
  height: 67px;
  width: 106px;
}
.logo img {
  object-fit: contain;
  width: 109px;
}
.right_sub {
  left: -373px !important;
} */
/* end custom css logo */

/* =========test */
/* Initially hide the submenu */
/* .sub-menu {
  display: none !important;
} */

/* Display the submenu when its parent has the "open_click" class */
/* .open_click + .sub-menu {
  display: block !important;
} */
/* 
.hidden {
  display: none;
}
.hidden.active {
  display: block !important;
} */

/* =========test */

/* new heder */
/* ============End Contact=========== */
/* ====My header===== */
nav {
  background-color: #fff;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 95px;
  justify-content: space-between;
}

.navbar .logo a img {
  object-fit: cover;
  height: 57px;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 273px;
}
.navbar ul li a {
  text-decoration: none;
  white-space: nowrap;
  color: #2d529f;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  display: inline-flex;
  padding: 10px 18px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  background: #2d529f;
  color: #ffffff;
}
.dropdown_item:hover::before {
  color: #ffffff !important;
}
.dropdown_item {
  position: relative;
  list-style: none;
}

.dropdown_item.sub::before {
  content: "▼"; /* Unicode for the downward-pointing triangle */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #2d529f;
  transition: color 0.3s ease;
}

.dropdown_item.active a {
  color: #47c423 !important;
}

.navbar .dropdown_item .dropdown-menu {
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  display: block;
  top: 40px;
  left: auto;
  border-radius: 0 4px 4px;
  border-top: 3px solid #2d529f;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
  margin: 0;
  min-width: 200px;
  padding: 5px;
  text-align: left;
  position: absolute;
  z-index: 1000;
  font-size: 1rem;
  background: #2d529f;
  background-clip: padding-box;
  opacity: 0;
}
.navbar .dropdown_item .dropdown-menu li {
  line-height: 24px;
}
.navbar .dropdown_item .dropdown-menu li a {
  border-bottom: 1px solid #335cb3;
  font-size: 0.8em;
  font-weight: 400;
  padding: 6px 20px 6px 8px;
  position: relative;
  text-transform: none;
  display: block;
  color: #fff;
  background: transparent;
}
.dropdown-menu.active {
  opacity: 1 !important;
}

/* =====End My header==== */

.navbar .dropdown_item .dropdown-menu.show {
  opacity: 1 !important;
}

/* responsive */
/* start header */
@media (max-width: 700px) {
  .navbar ul {
    display: none;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .slide_content {
    margin-left: 15px !important;
  }
  .slide_content h1 {
    font-size: 28px;
  }
  .slide_content h3 {
    font-size: 11px;
  }
  .single_slider .slide_content {
    gap: 40px;
  }
  .about_section_right {
    flex: none !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .about_section_lift {
    text-align: center !important;
    width: 618px;
    max-width: 100% !important;
    padding-top: 10px;
  }
  .feature_section .boxs .box_item {
    flex: none !important;
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
  .info_categories .catg_items .catg_item_box {
    flex: none;
    max-width: 100%;
  }
  .partners .partners_imgs img {
    width: 100%;
    height: 100%;
  }
  .footer_item_box,
  .footer_item_box_tow,
  .page_content_contact .page_content_contact_right,
  .page_content_contact .page_content_contact_lift,
  .page_content_contact_lift form .form-row .form-group,
  .page_content_wrapper .page_content_wrapper_right,
  .page_content_wrapper .page_content_wrapper_lift {
    flex: none !important;
    max-width: 100% !important;
  }
  .page_content_wrapper .page_content_wrapper_lift {
    margin-left: 0;
  }
  .page_content_wrapper .page_content_wrapper_right .cart {
    display: none;
  }
  .contact_contant_right {
    margin-left: -58px;
    margin-right: 47px;
  }
  .contact_contant_right h2 {
    line-height: 40px;
    width: 435px;
    max-width: 228px;
  }
}
@media (max-width: 500px) {
  .header_info ul {
    margin: 0 4px;
    width: 300px;
    padding-left: 0;
  }
  .feature_section .feature_section_title h2 {
    font-size: 29px;
  }
  .feature_section .feature_section_title hr {
    display: none;
  }
  .info_categories .catg_items .catg_item_box a .thumb_wrapper .thumb_title {
    margin: 3px -10px;
    font-size: 20px;
    padding: 3px;
  }
}
@media (max-width: 362px) {
  .header_info ul {
    margin: 0 -12px;
    width: 291px;
  }
}
@media (min-width: 900px) {
  .partners .partners_imgs {
    padding: 0 131px;
  }
}
/* end header */
/* responsive */
