/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Rules */

.page_header {
  background-color: #171717;
  border-bottom: 5px solid #ccc;
  border-top: 5px solid #384045;
  margin: 0 0 35px 0;
  min-height: 50px;
  padding: 20px 0;
  position: relative;
  text-align: left;
}
.page_header .breadcrumb {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.page_header .breadcrumb > li {
  font-size: 0.85em;
  text-transform: uppercase;
}
.page_header .breadcrumb li:first-child a {
  color: #008fe2;
}
.page_header .breadcrumb i,
.page_header .breadcrumb .active a {
  color: #ccc;
}

/* ===Start Page_content=== */
.page_content_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
/* ==========start right========= */
.page_content_wrapper .page_content_wrapper_right {
  flex: 0 0 25%;
  max-width: 25%;
  width: 255px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.page_content_wrapper .page_content_wrapper_right .cart h4 {
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 1.4em;
  letter-spacing: normal;
  line-height: 27px;
  color: #1d2127;
}
.page_content_wrapper .page_content_wrapper_right .cart ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 3rem;
  padding-left: 13px;
}
.page_content_wrapper .page_content_wrapper_right .cart li {
  border-bottom: 1px solid #ededde;
  line-height: 25px;
}
.page_content_wrapper .page_content_wrapper_right .cart li:hover {
  background-color: #eee;
}
.page_content_wrapper .page_content_wrapper_right .cart li a {
  color: #666;
  font-size: 0.9em;
}
.page_content_wrapper .page_content_wrapper_right h4 {
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: normal;
  line-height: 27px;
  color: #1d2127;
}
/* ===End right====== */

/* ===start lift====== */

.page_content_wrapper .page_content_wrapper_lift {
  flex: 1;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}
@media (max-width: 700px) {
  .page_content_wrapper .page_content_wrapper_lift {
    padding-left: 0 !important;
  }
}

.page_content_wrapper .page_content_wrapper_lift h2 {
  font-weight: 600;
  line-height: 40px;
  font-size: 2.2em;
  margin: 0 0 32px 0;
  color: #1d2127;
  letter-spacing: -1px;
}
.page_content_wrapper .page_content_wrapper_lift h3 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 33px;
  color: #1d2127;
}
.page_content_wrapper .page_content_wrapper_lift p {
  text-align: justify;
  color: #777;
  line-height: 24px;
  margin: 0 0 20px;
}
.page_content_wrapper .page_content_wrapper_lift p:last-child {
  margin-bottom: 3rem;
}
.page_content_wrapper .page_content_wrapper_lift div {
  text-align: center;
  margin-top: 60px;
}
.page_content_wrapper .page_content_wrapper_lift div > img {
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.33);
  max-width: 100%;
  height: 300px;
  width: 300px;
}
/* ===End page_content=== */
/* ===start contactez=== */
.contactez {
  background: #008fe2;
  padding: 63px 55px;
}
.contactez .contact_contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contactez .contact_contant .contact_contant_right {
  text-align: left;
}
.contactez .contact_contant .contact_contant_right h2 {
  letter-spacing: -1px;
  font-size: 2.2em;
  color: #fff;
}
.contactez .contact_contant .contact_contant_lift {
  text-align: center;
  cursor: pointer;
}
.contactez .contact_contant .contact_contant_lift button {
  background-color: #dc3545;
  color: #fff;
  margin-right: 1rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #fff;
  padding: 13px 22px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contactez .contact_contant .contact_contant_lift button:hover {
  background-color: #ec7a85e3;
}
/* ===End contactez=== */
